@import "tailwindcss";

*{
  color: #333333;
}
.box-shadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.text-shadow {
  text-shadow: 5px 5px 2px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 768px) {
  .box-shadow {
    box-shadow: none;
  }
  
}